:root {
  --dark-blue: #0a2463;
  --red: #fb3640;
  --grey: #605f5e;
  --light-blue: #247ba0;
  --white: #e2e2e2;
}

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0px;
  background-color: var(--white) !important;
}

h1,
h2,
h3 {
  color: #fb3640;
  text-shadow: 1px 1px var(--grey);
}

nav {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  background-color: var(--red);
  height: 10vh;
}

nav h1 {
  color: var(--white);
  margin: 0px 10px;
  text-shadow: 2px 2px var(--grey);
}

.nav-content {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.nav-content > * {
  margin: 0px 10px;
}

.nav-content a {
  color: var(--white);
  font-size: 18px;
  text-shadow: 1px 1px var(--grey);
}

.nav-content button {
  margin: 0px 10px;
}

.home-header {
  background-color: var(--grey);
  text-align: center;
  padding: 10px;
}

.home-header h1,
h2 {
  color: var(--white);
  text-shadow: 1px 1px var(--red) !important;
}

.home-header h1,
h2 {
  margin: 5px !important;
}

.home-body {
  margin: 20px 40px;
  text-align: center;
}

.home-body h1 {
  text-shadow: 1px 1px var(--grey);
  margin-bottom: 60px;
}

.home-cards {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.card {
  /* MAKE HEIGHT AS TALL AS TALLEST CARD */
  height: 245.16px !important;
  background-color: var(--light-blue) !important;
  box-shadow: 2px 2px var(--dark-blue) !important;
}

.card .description,
.header {
  color: var(--white) !important;
  text-shadow: 1px 1px var(--dark-blue);
}

.card button {
  background-color: var(--red) !important;
  color: var(--white) !important;
  box-shadow: 1px 1px var(--dark-blue) !important;
}

.card button:hover {
  background-color: var(--white) !important;
  color: var(--red) !important;
}


a {
  text-decoration: none;
  color: var(--white);
}

footer {
  background-color: #605f5e;
  bottom: 0px;
  position: absolute;
  width: 100vw;
  margin: 0px;
}
footer h1 {
  text-align: center;
  font-size: 12px;
  margin: 5px;
  color: #fb3640;
}
footer a {
  color: #fb3640;
  text-decoration: underline 1px;
}

footer a:hover {
  color: var(--white);
}

.codeEditor {
  position: relative;
  display: flex;
  width: 740px;
  padding: 0px;
  margin: 0px;
}

.ace_editor, .ace_editor *{
  font-family: "Monaco", "Menlo", "Ubuntu Mono", "Droid Sans Mono", "Consolas", monospace !important;
}
  /* 
.code {
  width: 50%;
  display: inline-block;
} */

.frame {
  width: 50%;
  height: 50%;
}

.terminal-base {
  width: 900px !important;
}

.daily-challenge {

}

.daily-challenge-header {
  background-color: var(--grey);
  text-align: center;
  padding: 10px;
  text-shadow: 1px 1px var(--white);
}

.daily-challenge-subheader {
  color: var(--red);
  text-shadow: 1px 1px var(--grey) !important;
  font-size: 40px;
  margin: 0px !important;
  margin-bottom: 20px !important;
}

.daily-challenge-body {
  margin: 25px;
}

.challenge-body h1, h2{
  margin-left: 0px !important;
  margin-bottom: 5px !important;
  color: var(--red) !important;
  text-shadow: 1px 1px var(--grey) !important;
}

.challenge-button {
  background-color: var(--red) !important;
  color: var(--white);
  box-shadow: 2px 2px var(--grey) !important;
}

.feed-group {
  margin-left: 10px !important;
}

.feed-card {
  width: 99vw !important;
}

.feed-card code {
  color: var(--white);
  text-shadow: 1px 1px var(--grey);
}

.feed-card .meta {
  color: var(--white)!important
}